<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th class ="sortable" (click)='sort("name")'>NAME</th>
        <th class ="sortable" (click)="sort('type')">TYPE</th>
        <th>OPERATIONAL</th>
        <th>ORBIT TYPE</th>
        <th>LAUNCH DATE</th>
    </tr>
    <tr *ngFor="let satellite of satellites" [class.warning]="satellite.shouldShowWarning()">
        <td>{{satellite.name}}</td> 
        <td >{{satellite.type}}</td> 
        <td>{{satellite.operational}}</td> 
        <td>{{satellite.orbitType}}</td> 
        <td>{{satellite.launchDate}}</td>
</tr>

</table>

<!-- <td>{{satellite.type}}</td> 
<td>{{satellite.operational}}</td> 
<td>{{satellite.orbitType}}</td> 
<td>{{satellite.launchDate}}</td> -->